/*
COLORS:

white: #FFFFFF
text-primary: #000000
text-highlight: #FFF2D4
blue: #002654
red: #C41112
background: #F2F7FA
grey-lines: #D4DCE2

font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans SC', sans-serif;
font-family: 'Oswald', sans-serif;

*/

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans SC', 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6;
  line-height: 1.7;
  color: #000000;
  max-width: 144rem;
  background-color: #f2f7fa;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: white;
}

.header {
  width: 100%;
  height: 17.4rem;
  text-align: center;
}

.header__logo-box {
  width: 100%;
  height: 12rem;
  border-bottom: solid 1px #d4dce2;
  padding-bottom: 0;
}

.header__logo {
  margin: 2rem auto;
  animation: moveInTop 2s;
}

.header__nav {
  position: relative;
  width: 80rem;
  height: 7.2rem;
}

.header__nav li {
  list-style: none;
  text-transform: uppercase;
  float: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  margin: 2.8rem 2rem 0.9rem 0;
  text-transform: uppercase;
}

.header__nav--icons {
  position: relative;
  bottom: 0.3rem;
}

.banner {
  width: 134rem;
  height: 67.2rem;
  background-image: url('../img/Header_image.png');
  background-size: cover;
  background-position: top;
  position: relative;
  animation: fadeIn 3s;
}

.banner__title {
  position: absolute;
  width: 57.3rem;
  height: 23.4rem;
  left: 70.5rem;
  top: 12rem;
  font-style: normal;
  font-weight: 300;
  font-size: 8rem;
  line-height: 12rem;
  letter-spacing: -0.04em;
  z-index: 4;
}

.banner__title--en {
  animation: moveInLeft 2s;
}
.banner__title--cn {
  font-weight: 500;
  animation: moveInRight 2s;
}

.banner__rectangle--1 {
  width: 49.4rem;
  height: 2.2rem;
  background-color: #fff2d4;
  position: absolute;
  top: 8.6rem;
  left: 3.9rem;
  animation: moveInRight 4s;
  z-index: -1;
}
.banner__rectangle--2 {
  width: 36.8rem;
  height: 2.2rem;
  background-color: #fff2d4;
  position: absolute;
  bottom: 0.4rem;
  left: 11.5rem;
  animation: moveInLeft 4s;
  z-index: -1;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
