@mixin highlightRect($w, $h) {
  width: $w;
  height: $h;
  background-color: $text-highlight;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }
}
