/* COLORS: */
$white: #ffffff;
$black: #000000;
$text-highlight: #fff2d4;
$blue: #002654;
$red: #c41112;
$background: #f2f7fa;
$grey-lines: #d4dce2;

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans SC', sans-serif;
font-family: 'Oswald', sans-serif;
*/
