.header {
  width: 100%;
  height: 17.4rem;
  text-align: center;

  &__logo-box {
    width: 100%;
    height: 12rem;
    border-bottom: solid 1px $grey-lines;
    padding-bottom: 0;
  }

  &__logo {
    margin: 2rem auto;
    animation: moveInTop 2s;
  }

  &__nav {
    // position: relative;

    max-width: 144rem;
    padding: 0 35.1rem;
    height: 7.2rem;
    z-index: 1000;
    background-color: $white;
    box-sizing: border-box;
  }

  &__nav li {
    list-style: none;
    text-transform: uppercase;
    float: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin: 2.8rem 1.5rem 0.9rem 0;
    text-transform: uppercase;

    & a {
      text-decoration: none;
      color: $black;
    }
    & a:hover {
      text-decoration: underline;
    }
  }

  &__nav--icons {
    position: relative;
    bottom: 0.3rem;
  }
}

.sticky {
  position: fixed;
  top: 0;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
