.heading {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 5;

  @include respond(tablet) {
  }
  @include respond(phone) {
    // position: relative;
    // left: 13rem;
    // bottom: 4rem;
  }
}
.highlightRect {
  @include highlightRect(16.9rem, 2.2rem);
  z-index: -10;
}
