.qr-code {
  width: 10.8rem;
  height: 13.1rem;
  box-shadow: 0px 6px 12px rgba(0, 38, 84, 0.2);
  border-radius: 4px;
  position: absolute;
  right: 3rem;
  box-sizing: border-box;
  z-index: 1;

  @include respond(tablet) {
    display: none;
  }

  & img {
    width: 100%;
    padding: 1.2rem 1.2rem 0.8rem 1.2rem;
  }
  & p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    /* identical to box height, or 164% */

    text-align: center;
    text-transform: uppercase;
  }
}
