* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(tablet) {
    font-size: 56.25%;
  }
  @include respond(phone) {
    font-size: 40%;
  }
}

body {
  font-family: 'Noto Sans SC', 'Montserrat', sans-serif;
  color: $black;
  max-width: 100%;
  background-color: $background;
}
