* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans SC', 'Montserrat', sans-serif;
  color: $black;
  max-width: 100%;
  background-color: $background;
}
