.about {
  padding-top: 5rem;
  width: 100%;
  height: 103.2rem;
  margin: 5rem auto;

  &__container {
    width: 111.5rem;
    height: 93.2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  &__video {
    width: 50%;
    height: 50%;

    &--image {
      width: 55rem;
      height: 34.7rem;
      background-image: url('../../img/video-img.png');
      background-size: cover;
      background-position: top;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__story {
    width: 50%;
    height: 50%;
    padding-left: 8.5rem;
  }

  &__photo {
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 9;

    &--1 {
      z-index: 10;
    }

    &--2 {
      position: relative;
      top: 20%;
      left: -10%;
      z-index: 20;
    }

    & .red-rectangle {
      width: 14.4rem;
      height: 24.2rem;
      background-color: $red;
      position: absolute;
      top: 34%;
      left: -1%;
      z-index: -1;
    }
    & .blue-rectangle {
      width: 12.8rem;
      height: 12.1rem;
      background-color: $blue;
      position: absolute;
      bottom: -6%;
      right: 19.5%;
      z-index: -1;
    }
  }

  &__photo--wide {
    width: 50%;
    height: 50%;
  }
}
