.banner {
  max-width: 134rem;
  height: 67.2rem;
  background-image: url('../img/Header_image.png');
  background-size: cover;
  background-position: top;
  position: relative;
  animation: fadeIn 3s;
  margin-bottom: 5rem;
  margin-top: 1rem;

  &__rectangle--1 {
    @include highlightRect(49.4rem, 2.2rem, 3rem, 12.7rem);
    animation: moveInRight 4s;
  }

  &__rectangle--2 {
    @include highlightRect(36.8rem, 2.2rem, 11.5rem, 0.4rem);
    animation: moveInLeft 4s;
  }
}
