.values,
.brands {
  width: 100%;
  height: auto;
  padding: 5rem 0;
  text-align: center;

  &__pics {
    display: flex;
    width: 89%;
    top: 16rem;

    &--french-lines {
      width: 100%;
      position: relative;
      top: 13rem;
      z-index: 10;
    }

    &--container {
      position: relative;
      bottom: 7rem;
      display: flex;
      width: 21.9rem;
      height: 37.8rem;
      flex-direction: column;
      height: 37.8rem;
      justify-content: space-between;
      z-index: 20;

      &:nth-child(2n) {
        bottom: 4rem;
        z-index: 1;
      }
    }

    &--hr-blue {
      width: 4rem;
      background-color: $blue;
      border: 1px solid $blue;
    }
    &--hr-red {
      width: 4rem;
      background-color: $red;
      border: 1px solid $red;
    }
  }

  &__phone {
    margin: 5rem 0 0 0;
    width: 100%;
    height: 58rem;
    position: relative;

    &--desc {
      background-color: $background;
      position: absolute;
      top: 4rem;
      height: 50.3rem;
      width: 100%;
    }
    &--desc-container {
      margin: 0 0;
      width: 56rem;
      height: 35.3rem;
      text-align: left;
      position: relative;
      top: 7rem;
      left: 24rem;

      & h3 {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 35px;
      }

      & p {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        margin-inline-start: 0;
      }

      & img {
        margin-inline-start: 0;
      }
    }
    &--qr {
      width: 28.6rem;
      display: flex;
      flex-direction: row;
      margin: 0 0;

      & div {
        display: flex;
        text-align: left;
        flex-direction: column;
        justify-content: center;
      }
    }

    &--img {
      position: absolute;
      right: 17.6rem;
      top: -4rem;
    }
  }
}
